body {
  font-family: Arial, sans-serif;
}
.gridStyle {
  border: 1px solid #cbcbcc;
  font-size: small;
  height: 400px;
}
.gridStyle .ngTopPanel {
  border-bottom: 1px solid #d5d6d8;
}
.gridStyle .ngTopPanel .ngHeaderContainer {
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f5f5f7), color-stop(100%, #dfdfe1));
  background-image: -webkit-linear-gradient(top, #f5f5f7, #dfdfe1);
  background-image: -moz-linear-gradient(top, #f5f5f7, #dfdfe1);
  background-image: -o-linear-gradient(top, #f5f5f7, #dfdfe1);
  background-image: linear-gradient(top, #f5f5f7, #dfdfe1);
}
.gridStyle .ngTopPanel .ngHeaderContainer .ngSortButtonUp,
.gridStyle .ngTopPanel .ngHeaderContainer .ngSortButtonDown {
  margin: 0;
  left: auto;
  right: 3%;
  top: 11px;
}
.gridStyle .ngViewport {
  color: #797979;
}
.gridStyle .ngViewport .ngCanvas .ngRow .ngCell {
  border-bottom-style: solid;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-bottom-color: #e8e7ec;
  border-right-color: #e8e7ec;
}
.gridStyle .ngViewport .ngCanvas .ngRow .ngCell .ngVerticalBar {
  display: none;
}
.gridStyle .ngViewport .ngCanvas .ngRow.even {
  background-color: #fafafc;
}
.gridStyle .ngViewport .ngCanvas .ngRow.odd {
  background-color: #f4f4f6;
}
.green {
  background-color: green;
  color: white;
}
